/* line 1, ../sass/blog.scss */
section.blog {
  float: left;
  width: 100%;
  padding: 40px 0px;
}
/* line 6, ../sass/blog.scss */
section.blog .list-blog .box-blog {
  float: left;
  width: 100%;
  padding-bottom: 80px;
  /*margin-bottom: 40px;*/
  border-bottom: 2px solid #616161;
}
/* line 12, ../sass/blog.scss */
section.blog .list-blog .box-blog img {
  width: 100%;
  margin-bottom: 40px;
}
/* line 16, ../sass/blog.scss */
section.blog .list-blog .box-blog h3 {
  font-size: 30px;
  color: #616161;
  margin-bottom: 20px;
}
/* line 21, ../sass/blog.scss */
section.blog .list-blog .box-blog span {
  font-size: 14px;
  text-transform: uppercase;
  color: #616161;
}
/* line 26, ../sass/blog.scss */
section.blog .list-blog .box-blog p {
  font-size: 14px;
  color: #818181;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 32, ../sass/blog.scss */
section.blog .list-blog .box-blog.blog-list a {
  padding: 15px 50px;
  border-radius: 5px;
  color: #f58534;
  border: 2px solid #f58534;
  position: absolute;
  text-transform: uppercase;
}
/* line 39, ../sass/blog.scss */
section.blog .list-blog .box-blog.blog-list a:hover {
  color: #ffffff;
  background-color: #f58534;
  border: 2px solid #f58534;
  text-decoration: none;
  transition: 0.3s;
}
/* line 46, ../sass/blog.scss */
section.blog .list-blog .box-blog h4 {
  font-size: 22px;
  color: #f58534;
  margin-bottom: 20px;
}
/* line 51, ../sass/blog.scss */
section.blog .list-blog .box-blog h5 {
  font-size: 18px;
  color: #616161;
}
/* line 56, ../sass/blog.scss */
section.blog .list-blog .paginacao {
  text-align: center;
}
/* line 59, ../sass/blog.scss */
section.blog .list-blog .paginacao ul li {
  display: inline-block;
  padding: 5px;
}
/* line 62, ../sass/blog.scss */
section.blog .list-blog .paginacao ul li a {
  padding: 5px;
  border: 2px solid #818181;
  color: #f58534;
}
/* line 67, ../sass/blog.scss */
section.blog .list-blog .paginacao ul li a:hover {
  background-color: #f58534;
  color: #ffffff;
  transition: 0.3s;
}
/* line 76, ../sass/blog.scss */
section.blog .agendar-blog {
  padding: 40px;
  background-color: #f05b43;
}
/* line 79, ../sass/blog.scss */
section.blog .agendar-blog h3 {
  font-size: 20px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 85, ../sass/blog.scss */
section.blog .agendar-blog button {
  width: 100%;
  padding: 15px 0px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}
/* line 97, ../sass/blog.scss */
section.blog .categorias h4 {
  font-size: 24px;
  color: #616161;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* line 104, ../sass/blog.scss */
section.blog .categorias ul li {
  font-size: 14px;
  color: #818181;
  margin-bottom: 20px;
}
/* line 108, ../sass/blog.scss */
section.blog .categorias ul li i {
  color: #f58534;
}
/* line 113, ../sass/blog.scss */
section.blog .categorias strong {
  background-color: #8c8c8c;
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  float: left;
  margin: 2px;
}

@media screen and (max-width: 767px) {
  section.blog .list-blog .paginacao{
    margin-bottom: 40px !important;
  }
  section.blog .list-blog .box-blog p{
    margin-bottom: 0px !important;
  }
  .agendar-footer button{
    padding: 15px 75px !important;
  }
  section.sedes{
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 991px) {
  section.blog .list-blog .paginacao{
    margin-bottom: 40px !important;
  }
  section.blog .list-blog .box-blog p{
    margin-bottom: 0px !important;
  }
  .agendar-footer button{
    padding: 15px 75px !important;
  }
  section.sedes{
    margin-bottom: 0px !important;
  }
  section.blog .list-blog .box-blog h4{
    margin-top: 40px !important;
  }
}
