/* line 1, ../sass/contato.scss */
.box-sede {
  float: left;
  width: 100%;
  background-color: #fafaf6;
  margin: 15px 0px;
}
/* line 6, ../sass/contato.scss */
.box-sede img {
  width: 100%;
}
/* line 9, ../sass/contato.scss */
.box-sede h4 {
  font-size: 26px;
  color: #616161;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}
/* line 16, ../sass/contato.scss */
.box-sede p {
  font-size: 14px;
  color: #818181;
  padding-left: 15px;
}
/* line 21, ../sass/contato.scss */
.box-sede ul {
  padding-left: 15px;
  margin-top: 15px;
}
/* line 24, ../sass/contato.scss */
.box-sede ul li {
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 14px;
  color: #ff8a36;
}
/* line 30, ../sass/contato.scss */
.box-sede ul li img {
  float: left;
  width: auto;
  margin-right: 5px;
}
/* line 35, ../sass/contato.scss */
.box-sede ul li a {
  font-size: 14px;
  color: #ff8a36;
}

/* line 44, ../sass/contato.scss */
.contato h3 {
  font-size: 30px;
  color: #616161;
  margin-bottom: 50px;
}
/* line 50, ../sass/contato.scss */
.contato form h6 {
  font-size: 16px;
  color: #818181;
  margin-bottom: 10px;
}
/* line 55, ../sass/contato.scss */
.contato form input[type=text] {
  width: 100%;
  height: 45px;
  border: 1px solid #eaeae6;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: #fafaf6;
}
/* line 63, ../sass/contato.scss */
.contato form textarea {
  width: 100%;
  max-width: 100%;
  max-height: 150px;
  height: 150px;
  border: 1px solid #eaeae6;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: #fafaf6;
}
/* line 73, ../sass/contato.scss */
.contato form .nice-select {
  width: 100%;
  height: 45px;
  border: 1px solid #eaeae6;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: #ffffff;
}
/* line 80, ../sass/contato.scss */
.contato form .nice-select .list {
  width: 100%;
}
/* line 84, ../sass/contato.scss */
.contato form input[type=submit] {
  padding: 15px 50px;
  border: 2px solid #ff8a36;
  color: #ff8a36;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 93, ../sass/contato.scss */
.contato form input[type=submit]:hover {
  background-color: #ff8a36;
  color: #ffffff;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  /* line 104, ../sass/contato.scss */
  .contato form input[type=submit] {
    margin-bottom: 50px;
  }
}
