/* line 4, ../sass/header.scss */
header .top .logo-header img {
  width: 100%;
}
/* line 9, ../sass/header.scss */
header .nice-select {
  width: 100%;
  height: 45px;
  border: 2px solid #616161;
  margin-top: 20px;
}
/* line 14, ../sass/header.scss */
header .nice-select .list {
  width: 100%;
}
/* line 18, ../sass/header.scss */
header h2 {
  font-size: 30px;
  color: #616161;
  margin-top: 27px;
  text-align: right;
}
/* line 23, ../sass/header.scss */
header h2 img {
  margin-bottom: -5px;
}
/* line 27, ../sass/header.scss */
header .navbar-default {
  border: 0px;
  border-radius: 0px;
  background-color: #f58534;
  margin: 0px;
}
/* line 33, ../sass/header.scss */
header .navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 15px 20px;
}
/* line 38, ../sass/header.scss */
header .navbar-default .navbar-nav > li > a:hover {
  color: #616161;
}
/* line 41, ../sass/header.scss */
header .nav > li > a > img {
  max-width: none;
  float: right;
  margin-top: -12px;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  /* line 53, ../sass/header.scss */
  header .top .logo-header img {
    width: 100%;
    margin-top: 15px;
  }
  /* line 58, ../sass/header.scss */
  header .nice-select {
    width: 100%;
    height: 45px;
    border: 2px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* line 64, ../sass/header.scss */
  header .nice-select .list {
    width: 100%;
  }
  /* line 68, ../sass/header.scss */
  header h2 {
    font-size: 18px;
    color: #616161;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: right;
  }
  /* line 74, ../sass/header.scss */
  header h2 img {
    margin-bottom: -5px;
  }
  /* line 78, ../sass/header.scss */
  header .navbar-default {
    border: 0px;
    border-radius: 0px;
    background-color: #f58534;
    margin: 0px;
  }
  /* line 84, ../sass/header.scss */
  header .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 15px 20px;
  }
  /* line 89, ../sass/header.scss */
  header .navbar-default .navbar-nav > li > a:hover {
    color: #616161;
  }
  /* line 92, ../sass/header.scss */
  header .nav > li > a > img {
    max-width: none;
    float: right;
    margin-top: -12px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 992px) {
  /* line 105, ../sass/header.scss */
  header .top .logo-header img {
    width: 100%;
  }
  /* line 110, ../sass/header.scss */
  header .nice-select {
    width: 100%;
    height: 45px;
    border: 2px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* line 116, ../sass/header.scss */
  header .nice-select .list {
    width: 100%;
  }
  /* line 120, ../sass/header.scss */
  header h2 {
    font-size: 13px;
    color: #616161;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: right;
  }
  /* line 126, ../sass/header.scss */
  header h2 img {
    margin-bottom: -5px;
  }
  /* line 130, ../sass/header.scss */
  header .navbar-default {
    border: 0px;
    border-radius: 0px;
    background-color: #f58534;
    margin: 0px;
  }
  /* line 136, ../sass/header.scss */
  header .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 15px 20px;
  }
  /* line 141, ../sass/header.scss */
  header .navbar-default .navbar-nav > li > a:hover {
    color: #616161;
  }
  /* line 144, ../sass/header.scss */
  header .nav > li > a > img {
    max-width: none;
    float: right;
    margin-top: -12px;
    margin-left: 15px;
  }
}
